<div class="flex-none h-12 w-30 text-center">
  <span>
    <svg viewBox="0 0 300 30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <g id="bg">
          <circle cx="60" cy="15" r="15" style="fill:#ffffff; stroke-width:0"/>
          <line x1="10" y1="15" x2="60" y2="15" style="stroke:#d0d0d0; stroke-width:8; stroke-linecap:round" />
          <circle cx="60" cy="15" r="10" style="fill:#b0b0b0; stroke-width:0"/>
        </g>
        <g id="fg">
          <line x1="10" y1="15" x2="60" y2="15" style="stroke-width:10; stroke-linecap:round" />
          <circle cx="60" cy="15" r="10" style="stroke-width:0"/>
        </g>

      </defs>
      <use transform="translate(200 0)" xlink:href="#bg"/>
      <use transform="translate(150 0)" xlink:href="#bg"/>
      <use transform="translate(100 0)" xlink:href="#bg"/>
      <use transform="translate(50 0)" xlink:href="#bg"/>
      <use transform="translate(0 0)" xlink:href="#bg"/>

      <use *ngIf="shipmentStatus == 'Delivered'" transform="translate(200 0)" style="stroke:#48c1d9; fill:#62dcf5" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Delivered'" transform="translate(150 0)" style="stroke:#48c1d9; fill:#62dcf5" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Delivered'" transform="translate(100 0)" style="stroke:#48c1d9; fill:#62dcf5" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Delivered'" transform="translate(50 0)" style="stroke:#48c1d9; fill:#62dcf5" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Delivered'" transform="translate(0 0)" style="stroke:#48c1d9; fill:#62dcf5" xlink:href="#fg"/>

      <use *ngIf="shipmentStatus == 'Shipped'" transform="translate(150 0)" style="stroke:#56a646; fill:#7ac144" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Shipped'" transform="translate(100 0)" style="stroke:#56a646; fill:#7ac144" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Shipped'" transform="translate(50 0)" style="stroke:#56a646; fill:#7ac144" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Shipped'" transform="translate(0 0)" style="stroke:#56a646; fill:#7ac144" xlink:href="#fg"/>

      <use *ngIf="shipmentStatus == 'Unshipped'" transform="translate(100 0)" style="stroke:#d9cd48; fill:#f2e768" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Unshipped'" transform="translate(50 0)" style="stroke:#d9cd48; fill:#f2e768" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'Unshipped'" transform="translate(0 0)" style="stroke:#d9cd48; fill:#f2e768" xlink:href="#fg"/>

      <use *ngIf="shipmentStatus == 'NeedsScheduling'" transform="translate(50 0)" style="stroke:#c18544; fill:#e6a865" xlink:href="#fg"/>
      <use *ngIf="shipmentStatus == 'NeedsScheduling'" transform="translate(0 0)" style="stroke:#c18544; fill:#e6a865" xlink:href="#fg"/>

      <use *ngIf="shipmentStatus == 'Pending'" transform="translate(0 0)" style="stroke:#c14844; fill:#eb706c" xlink:href="#fg"/>
    </svg>
  </span>
  <span>{{shipmentStatus}}</span>
</div>
