<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Shipping</h1>

  <div class="flex">
    <div class="block mx-auto">
      <label for="searchByShipmentNumber" class="hidden">Search</label>
      <div class="relative pt-3 pb-4">
        <fa-icon [icon]="searching ? faSpinnerThird : faSearch" [spin]="searching" class="absolute inset-y-0 left-3 flex items-center pointer-events-none"></fa-icon>
        <input id="searchByShipmentNumber" class="input-base pl-10 pr-2" [ngClass]="searchShipmentNumber?.length > 0 ? 'rounded-b-none' : ''" placeholder="Search Shipments" autocomplete="off" autocapitalize="words"
               [(ngModel)]="searchShipmentNumber" (keyup)="searchKey($event)" (paste)="searchKey($event)" appAutofocus />
        <div *ngIf="searchResults" class="block absolute bg-gray-100 z-30 w-full">
          <div *ngFor="let result of searchResults" class="flex hover:bg-blue-200 cursor-pointer border-gray-200 border-l border-r border-b items-center p-1" (click)="load(result.id)"
               [ngClass]="{'bg-gray-300' : result.shipmentStatus == 'Shipped' || result.shipmentStatus == 'External', 'bg-gray-500' : result.shipmentStatus == 'Cancelled' || result.shipmentStatus == 'Delivered' || result.shipmentStatus == 'Pending'}">
            <div class="flex-none ml-1">
              <app-marketplace-icon [cls]="result?.salesOrder.cls"></app-marketplace-icon>
            </div>

            <div class="mr-2 flex-grow">
              <div class="flex gap-3">
                <p class="font-semibold flex-grow">{{result.shipmentNumber}}</p>
                <fa-icon *ngIf="result.shipmentStatus == 'Unshipped'" [fixedWidth]="true" [icon]="faBoxOpen" class="self-start pointer-events-none"></fa-icon>
                <fa-icon *ngIf="result.shipmentStatus == 'Labelled'" [fixedWidth]="true" [icon]="faBox" class="self-start pointer-events-none"></fa-icon>
                <fa-icon *ngIf="result.shipmentStatus == 'NeedsScheduling'" [fixedWidth]="true" [icon]="faCalendar" class="self-start pointer-events-none"></fa-icon>

                <fa-icon *ngIf="result.shipmentStatus == 'Shipped'" [fixedWidth]="true" [icon]="faShippingFast" class="self-start pointer-events-none"></fa-icon>
                <fa-icon *ngIf="result.shipmentStatus == 'External'" [fixedWidth]="true" [icon]="faExternalLink" class="self-start pointer-events-none"></fa-icon>

                <fa-icon *ngIf="result.shipmentStatus == 'Cancelled'" [fixedWidth]="true" [icon]="faBan" class="self-start pointer-events-none"></fa-icon>
                <fa-icon *ngIf="result.shipmentStatus == 'Delivered'" [fixedWidth]="true" [icon]="faBoxCheck" class="self-start pointer-events-none"></fa-icon>
                <fa-icon *ngIf="result.shipmentStatus == 'Pending'" [fixedWidth]="true" [icon]="faWatch" class="self-start pointer-events-none"></fa-icon>
              </div>
              <p class="font-light">{{result?.salesOrder.alternateOrderNumber}}</p>
              <p class="font-light">{{result?.departingWarehouse.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-loading *ngIf="loading" class="block text-center py-6"></app-loading>

  <div class="p-4" *ngIf="shipment">
    <div class="flex flex-col gap-4 lg:flex-row">
      <div class="w-64">
        <p class="data-label">DETAILS</p>
        <div class="flex items-center">
          <app-marketplace-icon [cls]="shipment?.salesOrder.cls"></app-marketplace-icon>
          <div *ngIf="shipment.shipmentNumber" class="ml-4">
            <div *ngIf="shipment.shipmentNumber" class="leading-5 font-medium text-gray-900"><span class="font-light">{{shipment.shipmentNumber.substr(0, 11)}}</span><span class="font-semibold">{{shipment.shipmentNumber.substr(11)}}</span></div>
            <div *ngIf="shipment.salesOrder.alternateOrderNumber" class="text-sm leading-5 font-light text-gray-500">{{shipment.salesOrder.alternateOrderNumber}}</div>
            <div *ngIf="shipment.salesOrder.hold" class="text-sm leading-5 font-light text-red-500">(ON HOLD)</div>
          </div>
        </div>
      </div>
      <div class="w-64 click-area" (click)="showShipmentDialog()">
        <p class="data-label">CONTENTS</p>
        <div *ngFor="let item of shipment.shipmentItems; index as i">
          <p *ngIf="i < 3" class="text-xs leading-5">
            <span class="font-semibold text-gray-900">{{item.quantity}}</span><span class="font-thin">x</span>&nbsp;<span class="font-medium text-gray-900">{{item.salesOrderItem.sku}}</span>:&nbsp;<span class="font-thin text-gray-900">{{item.salesOrderItem.name}}</span>
          </p>
        </div>
        <div *ngIf="shipment.shipmentItems.length > 3">
          <span class="text-sm leading-5 font-medium text-gray-900">and more...</span>
        </div>
      </div>
      <div class="w-64">
        <p class="data-label">STATUS</p>
        <app-shipment-status [shipmentStatus]="shipment.shipmentStatus"></app-shipment-status>
        <ng-container *ngIf="shipmentSent">
          <p class="data-label">TRACKING</p>
          <span *ngFor="let trackingNo of shipment.trackingNos; index as i">
            {{trackingNo}}<ng-container *ngIf="i + 1 !== shipment.trackingNos.length">, </ng-container>
          </span>
        </ng-container>
        <!--
        <button *ngIf="shipment.shipmentStatus === 'Unshipped'" type="button" class="block mx-auto jf-link text-red-500" (click)="cancelShipment()">Cancel Shipment</button>
        -->
      </div>
    </div>
  </div>

  <div class="p-4" *ngIf="shipment">
    <div class="flex flex-col gap-4 lg:flex-row">
      <div class="flex-1">
        <div class="w-64">
          <div (click)="showEditAddressDialog()" [ngClass]="{'relative click-area' : shipmentEditable}">
            <p class="data-label">DESTINATION</p>
            <p class="font-light">{{shipment.firstName}} {{shipment.lastName}}</p>
            <p class="font-light" *ngIf="shipment.company">{{shipment.company}}</p>
            <p class="font-light">{{shipment.line1}}</p>
            <p class="font-light" *ngIf="shipment.line2">{{shipment.line2}}</p>
            <p class="font-light">{{shipment.city}}<span *ngIf="shipment.city">, </span>{{shipment.state}}  {{shipment.postalCode}}</p>
            <fa-icon *ngIf="shipmentEditable" class="absolute top-1 right-1 flex" [icon]="faPencil"></fa-icon>
          </div>
          <p *ngIf="!shipment.addressValidationSource || shipment.addressValidationSource === 'Unverified'">
            <span *ngIf="!verifying" class="text-gray-500">Address is unverified. </span>
            <button *ngIf="shipmentEditable && !verifying" class="text-blue-600 hover:text-blue-800" (click)="verifyAddress()">Verify</button>
            <app-loading *ngIf="verifying" message="Verifying Address..."></app-loading>
          </p>
          <p *ngIf="shipment.addressValidationSource && shipment.addressValidationSource !== 'Unverified'"><span class="text-gray-500">Address verified by {{shipment.addressValidationSource}}.</span></p>
        </div>
      </div>
      <div class="flex-1">
        <div class="w-64">
          <p class="data-label">SCHEDULE</p>
          <p class="font-light" *ngIf="shipment.placedAt">Placed On: {{shipment.placedAt | date: 'EE, MMM d'}}</p>
          <p class="font-light" *ngIf="shipment.estimatedShipDate">Ship By: {{shipment.estimatedShipDate | date: 'EE, MMM d'}}</p>
          <p class="font-light" *ngIf="shipment.estimatedDeliveryDate">Deliver By: {{shipment.estimatedDeliveryDate | date: 'EE, MMM d'}}</p>
          <p class="font-light" *ngIf="shipment.shippedAt">Shipped On: {{shipment.shippedAt | date: 'EE, MMM d'}}</p>
          <p class="font-light" *ngIf="shipment.shippedBy">Shipped By: {{shipment.shippedBy}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="shipment && shipmentEditable" class="p-4">
    <div *ngFor="let pack of packages; let i = index" class="flex">
      <div class="max-w-full mb-2 relative flex flex-col" (click)="setActivePackage(i)" (keyup)="setActivePackage(i)">
        <p *ngIf="packages.length > 1" class="data-label border-b-2 border-gray-400 mb-2 pb-1 self-start">
          Package {{i + 1}}</p>
        <fa-icon *ngIf="packages.length > 1" class="absolute top-0 flex click-area p-1 -m-1"
                 style="left: -1.5rem" [icon]="faTimesCircle" (click)="removePackage(i)"></fa-icon>
        <div class="flex flex-row gap-2 flex-wrap">
          <div class="w-56">
            <p class="data-label">LENGTH</p>
            <label for="length" class="hidden">Length</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pr-3 pl-3 flex items-center pointer-events-none">
              <span class="icon is-medium is-left">
                <fa-icon [icon]="faRulerHorizontal"></fa-icon>
              </span>
              </div>
              <input id="length" type="number" min="0" step="any" class="input-base pl-10 pr-7 text-4xl text-right"
                     [placeholder]="shipment.estimatedLength && packages.length === 1 ? (shipment.estimatedLength | number: '0.0-0') : ''"
                     autocomplete="off" autocapitalize="words" (tap)="showLengthDialog()"
                     [(ngModel)]="packages[i].length" appAutofocus/>
              <div class="absolute inset-y-0 right-0 pr-3 pl-3 flex items-center pointer-events-none">
              <span class="icon is-medium is-left">
                IN
              </span>
              </div>
            </div>
          </div>
          <div class="w-56">
            <p class="data-label">WIDTH</p>
            <label for="width" class="hidden">Width</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pr-3 pl-3 flex items-center pointer-events-none">
              <span class="icon is-medium is-left">
                <fa-icon [icon]="faRuler"></fa-icon>
              </span>
              </div>
              <input id="width" type="number" min="0" step="any" class="input-base pl-10 pr-7 text-4xl text-right"
                     [placeholder]="shipment.estimatedWidth && packages.length === 1 ? (shipment.estimatedWidth | number: '0.0-0') : ''"
                     autocomplete="off" autocapitalize="words" (tap)="showWidthDialog()"
                     [(ngModel)]="packages[i].width" />
              <div class="absolute inset-y-0 right-0 pr-3 pl-3 flex items-center pointer-events-none">
              <span class="icon is-medium is-left">
                IN
              </span>
              </div>
            </div>
          </div>
          <div class="w-56">
            <p class="data-label">HEIGHT</p>
            <label for="height" class="hidden">Height</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pr-3 pl-3 flex items-center pointer-events-none">
              <span class="icon is-medium is-left">
                <fa-icon [icon]="faRulerVertical"></fa-icon>
              </span>
              </div>
              <input id="height" type="number" min="0" step="any" class="input-base pl-10 pr-7 text-4xl text-right"
                     [placeholder]="shipment.estimatedHeight && packages.length === 1 ? (shipment.estimatedHeight | number: '0.0-0') : ''"
                     autocomplete="off" autocapitalize="words" (tap)="showHeightDialog()"
                     [(ngModel)]="packages[i].height" />
              <div class="absolute inset-y-0 right-0 pr-3 pl-3 flex items-center pointer-events-none">
              <span class="icon is-medium is-left">
                IN
              </span>
              </div>
            </div>
          </div>
          <div class="w-56 relative">
            <p class="data-label">WEIGHT</p>
            <label for="weight" class="hidden">Weight</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pr-3 pl-3 flex items-center pointer-events-none">
              <span class="icon is-medium is-left">
                <fa-icon [icon]="faBalanceScale"></fa-icon>
              </span>
              </div>
              <input id="weight" type="number" min="0" step="any" class="input-base pl-10 pr-7 text-4xl text-right"
                     [placeholder]="shipment.estimatedWeight && packages.length === 1 ? (shipment.estimatedWeight | number: '0.1-1') : ''"
                     autocomplete="off" autocapitalize="words" (tap)="showWeightDialog()"
                     [(ngModel)]="packages[i].weight" />
              <div class="absolute inset-y-0 right-0 pr-2.5 pl-3 flex items-center pointer-events-none">
              <span class="icon is-medium is-left">
                LB
              </span>
              </div>
            </div>
            <fa-icon class="absolute flex right-0 top-0 click-area -mt-1.5 w-6" style="padding: 4px 5px" (click)="setWeightLock(i)" [icon]="weightLocks[i] ? faLock : faLockOpen"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row">
        <button class="font-bold button button-blue" (click)="addPackage()">
          <fa-icon [icon]="faPlusCircle"></fa-icon>
          Package
        </button>
    </div>
  </div>

  <div class="p-4" *ngIf="shipment && shipmentSent">
    <p class="data-label">DIMENSIONS</p>
    <span *ngIf="shipment.actualLength && shipment.actualWidth && shipment.actualHeight">{{shipment.actualLength}} x {{shipment.actualWidth}} x {{shipment.actualHeight}} IN</span>
    <span *ngIf="shipment.trackingNos?.length > 1">Multi Package</span>
    <p class="data-label mt-2">WEIGHT</p>
    <span *ngIf="shipment.actualWeight">{{shipment.actualWeight}} LB</span>
    <span *ngIf="shipment.trackingNos?.length > 1">Multi Package</span>
  </div>

  <div class="p-4" *ngIf="shipment">
    <p class="data-label">SERVICE</p>
    <div class="flex flex-col gap-4 lg:flex-row lg:items-center">
      <button (click)="showMethodDialog()" [disabled]="!shipmentEditable || !checkMethodRequirements()"
              class="input-button pl-15 pr-3 relative max-w-lg" style="min-height: 5rem"
              [ngClass]="{'opacity-50' : shipmentEditable && !checkMethodRequirements()}">
        <app-carrier-icon class="absolute inset-y-0 left-3 flex items-center pointer-events-none" [carrier]="shipment.carrier"></app-carrier-icon>
        <div class="flex flex-col justify-center">
          <p class="text-2xl leading-6 flex gap-x-1.5 gap-y-0.5 flex-wrap">
            <ng-container *ngIf="(shipment.carrier && shipment.service)">
              <span class="font-light text-gray-600">{{shipment.carrier | carrier}}</span>
              <span>{{shipment.service | service}}</span>
            </ng-container>
            <span *ngIf="!(shipment.carrier && shipment.service)" class="font-light text-gray-600">Not Specified</span>
          </p>
          <p *ngIf="shipment.options?.length > 0" class="font-light mt-1.5 text-base leading-5">
            <ng-container *ngFor="let option of shipment.options; index as i">
              <span class="text-gray-400" *ngIf="i > 0"> | </span>
              <span>{{option | option}}</span>
            </ng-container>
          </p>
        </div>
        <fa-icon *ngIf="shipmentEditable && checkMethodRequirements()" class="absolute inset-y-0 right-3 flex items-center pointer-events-none" [icon]="faPencil"></fa-icon>
      </button>
      <button *ngIf="shipmentEditable" class="w-64 h-16 font-bold button button-blue"
              [disabled]="!checkShippingRequirements() || rating"
              (click)="rateShipment()">
        <ng-container *ngIf="!rating">Best Rate</ng-container>
        <app-loading *ngIf="rating" message="Getting Best Rate..."></app-loading>
      </button>
    </div>
  </div>

  <div class="p-4" *ngIf="shipment">
    <p class="data-label">PACKAGING</p>
    <div class="flex flex-col gap-4 lg:flex-row lg:items-center">
      <button (click)="showPackagingDialog()" [disabled]="!shipmentEditable || packages.length !== 1"
              class="input-button pl-15 pr-3 relative max-w-lg" style="min-height: 5rem"
              [ngClass]="{'opacity-50' : shipmentEditable && packages.length !== 1}">
        <app-packaging-icon [packaging]="shipment.packaging" class="absolute inset-y-0 left-3 flex items-center pointer-events-none"></app-packaging-icon>
        <div class="text-2xl leading-6 font-light text-gray-600">
          {{shipment.packaging ? (shipment.packaging | packaging): 'Not Specified'}}
        </div>
        <fa-icon *ngIf="shipmentEditable && packages.length === 1" [icon]="faPencil" class="absolute inset-y-0 right-3 flex items-center pointer-events-none"></fa-icon>
      </button>

      <button *ngIf="shipmentEditable" id="ship" class="w-64 h-16 font-bold button button-green"
              [disabled]="!checkShippingRequirements() || shipping"
              (click)="shipShipment()">
        <ng-container *ngIf="!shipping">Ship</ng-container>
        <app-loading *ngIf="shipping" message="Shipping..."></app-loading>
      </button>
    </div>
  </div>

  <div class="p-4 flex flex-col gap-4 lg:flex-row" *ngIf="shipment && shipment.shipmentStatus === 'Shipped'">
    <div class="flex-1">
      <button [disabled]="voiding" class="w-64 font-bold button button-red" (click)="voidShipment()">
        <ng-container *ngIf="!voiding">Void Shipment</ng-container>
        <app-loading *ngIf="voiding" message="Voiding Shipment..."></app-loading>
      </button>
    </div>

    <div class="flex-1">
      <button class="w-64 font-bold button button-green" (click)="reprintLabel()">
        Reprint Label
      </button>
    </div>
  </div>
</div>
