# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

installer/Josh's Frogs Admin-SetupFiles/Josh's Frogs Admin.msi

installer/Josh's Frogs Admin-cache/

electron/JoshsFrogsAdmin-win32-x64/

/src/graphql/_schema.graphql
/src/generated/graphql.ts
