.purchase-data-grid {
  @apply grid grid-cols-2 gap-4;

  @media screen and (min-width: 450px) {
    @apply grid-cols-3;
  }
}

.multi-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.tabs {
  min-height: 20em;
}

.purchase-table-container {
  min-width: 437px;
}

.purchase-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;

  th, td {
    padding: .75rem;
  }
}

.sku-column {
  min-width: 100px;
  flex: 1 0 100px;
}

.name-column {
  flex: 2 0 175px;
}

.received-column {
  flex: 1 0 85px;
}

.actions-column {
  flex: 0 0 75px;
}
