<div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 min-h-20">

  <div *ngIf="loading" class="p-20 text-center col-span-2">
    <span class="icon is-medium is-left">
      <fa-icon [icon]="faSpinnerThird" [spin]="true"></fa-icon>
    </span>
    Loading...
  </div>

  <div class="flex flex-col col-span-1">
    <div class="flex-none" *ngIf="overnightEarlyRates && (overnightEarlyRates.length > 0)">
      <ng-container *ngTemplateOutlet="rates2; context: {name: 'Overnight Early', rates: overnightEarlyRates}"></ng-container>
    </div>

    <div class="flex-none" *ngIf="overnightMorningRates && (overnightMorningRates.length > 0)">
      <ng-container *ngTemplateOutlet="rates2; context: {name: 'Overnight Morning', rates: overnightMorningRates}"></ng-container>
    </div>

    <div class="flex-none" *ngIf="overnightEveningRates && (overnightEveningRates.length > 0)">
      <ng-container *ngTemplateOutlet="rates2; context: {name: 'Overnight', rates: overnightEveningRates}"></ng-container>
    </div>

    <div class="flex-1"></div>

    <div *ngIf="!loading" class="my-6 p-2 border rounded-lg bg-white flex-none sticky bottom-2">
      <div class="w-full">
        <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">LEGEND</p>
        <div class="flex flex-row items-start"><div class="w-24 bg-green-200 border border-green-300 rounded-full text-center px-2 mr-2 flex-shrink-0">BEST</div><span class="font-light text-left">Meets Constraints and LAG, Cheapest</span></div>
        <div class="flex flex-row items-start"><div class="w-24 bg-yellow-200 border border-yellow-300 rounded-full text-center px-2 mr-2 flex-shrink-0">GOOD</div><span class="font-light text-left">Meets Constraints and LAG, Not Cheapest</span></div>
        <div class="flex flex-row items-start"><div class="w-24 bg-orange-200 border border-orange-300 rounded-full text-center px-2 mr-2 flex-shrink-0">NEUTRAL</div><span class="font-light text-left">Meets Constraints, Misses LAG or is a Paid Upgrade</span></div>
        <div class="flex flex-row items-start"><div class="w-24 bg-red-200 border border-red-300 rounded-full text-center px-2 mr-2 flex-shrink-0">BAD</div><span class="font-light text-left">Violates Time in Transit or Ship/Delivery Date</span></div>
      </div>
      <div *ngIf="applyRestrictions" class="flex-1 text-left mt-2 flex">
        <button class="w-64 font-bold button button-green" (click)="allOptions()">
          All Options
        </button>
        <div class="ml-4 self-end">
          <input [(ngModel)]="showResellers" id="showResellers" type="checkbox" class="input-jf form-checkbox h-4 w-4">
          <label for="showResellers" class="input-label ml-1.5">Show Resellers</label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-1">
    <div class="" *ngIf="twoDayRates && (twoDayRates.length > 0)">
      <ng-container *ngTemplateOutlet="rates2; context: {name: 'Two Day', rates: twoDayRates}"></ng-container>
    </div>

    <div class="" *ngIf="threeDayRates && (threeDayRates.length > 0)">
      <ng-container *ngTemplateOutlet="rates2; context: {name: 'Three Day', rates: threeDayRates}"></ng-container>
    </div>

    <div class="" *ngIf="groundRates && (groundRates.length > 0)">
      <ng-container *ngTemplateOutlet="rates2; context: {name: 'Ground', rates: groundRates}"></ng-container>
    </div>

    <div class="" *ngIf="economyRates && (economyRates.length > 0)">
      <ng-container *ngTemplateOutlet="rates2; context: {name: 'Economy', rates: economyRates}"></ng-container>
    </div>
  </div>
</div>

<ng-template #rates2 let-name="name" let-rates="rates">
  <div class="py-6">
    <div class="w-full">
      <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">{{name}}</p>
      <button *ngFor="let rate of rates" [id]="rate.fitness == 'BEST' ? 'best' : ''" (click)="pickMethod(rate.reseller, rate.carrier, rate.service, rate.packaging, rate.options)"
              class="input-button block md:max-w-lg p-0 overflow-hidden relative">
        <p *ngIf="showResellers" class="text-xs leading-3 absolute top-1 opacity-25 left-1">
          {{rate.reseller | reseller}}
        </p>
        <div class="px-3 py-2 flex gap-1 h-full" style="min-height: 5rem;"
             [ngClass]="{'bg-red-200': rate.fitness === 'BAD', 'bg-orange-200': rate.fitness === 'NEUTRAL', 'bg-yellow-200': rate.fitness === 'GOOD', 'bg-green-200': rate.fitness === 'BEST'}">
          <div class="my-auto w-10">
            <app-carrier-icon [carrier]="rate.carrier" class="block -m-1 -mr-3"></app-carrier-icon>
          </div>
          <div class="flex-grow my-auto text-left" style="flex-shrink: 5000">
            <p class="text-2xl leading-6 flex gap-x-1.5 gap-y-0.5 flex-wrap">
              <span class="font-light text-gray-600">{{rate.carrier | carrier}}</span>
              <span>{{rate.service | service}}</span>
            </p>
            <p *ngIf="rate.options?.length > 0" class="font-light mt-1.5 text-base leading-5">
              <ng-container *ngFor="let option of rate.options; index as i">
                <span class="text-gray-400" *ngIf="i > 0"> | </span>
                <span>{{option | option}}</span>
              </ng-container>
            </p>
          </div>
          <div class="my-auto">
            <div class="block">
              <p class="text-2xl leading-6 text-right">
                <span class="font-light text-gray-800">{{rate.cost | currency: 'USD'}}</span> {{rate.deliveryDate | date: 'EE'}}
              </p>
              <p class="font-light mt-1.5 text-base leading-5 text-right">
                {{ rate.packaging | packaging }}
              </p>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</ng-template>
