<div *ngIf="packaging == 'CARDBOARD_BOX'" class="flex-none h-10 w-10 m-1 mr-3 text-center rounded-lg" style="background-color: lightgray">
  <span style="font-size: 28px; color: sienna" *ngIf="packaging == 'CARDBOARD_BOX'"><fa-icon [icon]="faBox"></fa-icon></span>
</div>
<div *ngIf="packaging == 'POLY_BAG_12X15'" class="flex-none h-10 w-10 m-1 mr-3 text-center rounded-lg" style="background-color: lightgray">
  <span style="font-size: 28px; color: white" *ngIf="packaging == 'POLY_BAG_12X15'"><fa-icon [icon]="faSack"></fa-icon></span>
</div>
