<div class="flex">
  <div class="block mx-auto">
    <label for="search" class="sr-only">Search</label>
    <div class="relative pt-3 pb-4">
      <div class="absolute inset-y-0 left-0 pr-3 pl-3 flex items-center pointer-events-none">
          <span class="icon is-medium is-left">
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
      </div>
      <input id="search" class="form-input block w-full pl-10 pr-2 rounded-lg" [ngClass]="searchData.results?.length > 0 ? 'rounded-b-none' : ''" placeholder="Search by {{searchTypes.sort().join('/').toUpperCase()}}" autocomplete="off" autocapitalize="words"
             [(ngModel)]="searchData.value" (ngModelChange)="searchData.value = searchData.value.trim();" (keyup)="search()" />
      <div *ngIf="searchData.results" class="block absolute bg-gray-100 z-30 w-full">
        <div *ngFor="let result of searchData.results" class="flex hover:bg-gray-200 border-gray-200 border-r border-b items-center" (click)="select(result.id)">
          <div class="flex-none h-10 w-10 m-1 mr-3 rounded-lg bg-white">
            <app-thumbnail-sm [src]="result.medias[0]?.url" [alt]="result.title"></app-thumbnail-sm>
          </div>

          <div class="m-1 mr-3">
            <p class="font-semibold">{{result.sku}}</p>
            <p class="font-narrow">{{result.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
