.quantity-button {
  white-space: nowrap;
  min-width: 5rem;
  padding: 0.625rem 1.25rem;
}

.all-button {
  white-space: nowrap;
  min-width: auto;
  padding: 0.625rem 1.25rem;
}

#quantity {
  min-width: 8rem;
}
