<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Inventory</h1>

  <app-product-search [searchTypes]="searchTypes" (productSelected)="load($event)"></app-product-search>

  <div *ngIf="loading > 0" class="p-20 text-center">
    <span class="icon is-medium is-left">
      <fa-icon [icon]="faSpinnerThird" [spin]="true"></fa-icon>
    </span>
    Loading...
  </div>

  <div *ngIf="(loading == 0) && simpleProduct">
    <div class="flex flex-row">
      <div class="flex-none h-40 w-40 m-1 mr-3 rounded-lg bg-white">
        <app-thumbnail-md [src]="simpleProduct.medias[0]?.url" [alt]="simpleProduct.title"></app-thumbnail-md>
      </div>
      <div *ngIf="inventoryLoading" class="self-center items-center flex">
        <fa-icon class="icon text-2xl" [icon]="faSpinnerThird" [spin]="true"></fa-icon>
        <span class="italic pl-1 text-xl font-semibold">Loading Stock</span>
      </div>
      <div class="self-center" *ngIf="inventoryDetails && !inventoryLoading">
        <p *ngIf="warehouse" class="font-light text-lg text-center">{{warehouse.name}}</p>
        <p *ngIf="inventoryDetails?.warehouseQuantityOnShelf <= 0" class="font-semibold text-xl text-center">Out of Stock</p>
        <p *ngIf="inventoryDetails?.warehouseQuantityOnShelf > 0" class="font-semibold text-xl text-center">{{inventoryDetails.warehouseQuantityOnShelf}} in Stock</p>
        <p *ngIf="inventoryDetails?.warehouseQuantityOnShelf < 0" class="font-semibold text-xl text-center">Over Sold by {{0 - inventoryDetails.warehouseQuantityOnShelf}}</p>
        <!-- TODO: when full inventory support exists, replace above with this
        <p *ngIf="simpleProduct.inventoryCaches?.length == 0" class="font-semibold text-xl text-center">Not Stocked</p>
        <p *ngFor="let inventory of simpleProduct.inventoryCaches" class="font-semibold text-3xl text-center">{{inventory.quantityAvailableForSale}}</p>
        -->
        <p *ngIf="inventoryDetails?.warehouseQuantityUnshipped != 0" class="font-medium text-lg text-center">{{inventoryDetails.warehouseQuantityUnshipped}} to Ship</p>
        <p *ngIf="inventoryDetails?.warehouseQuantityUnshipped != 0" class="font-medium text-lg text-center">{{inventoryDetails.warehouseQuantityAvailable}} for Sale</p>
        <p *ngIf="(inventoryDetails?.warehouseQuantityOnShelf > 0) && (inventoryDetails?.warehouseQuantityUnshipped == 0)" class="font-light text-sm italic text-center">All available for sale.</p>
      </div>
    </div>

    <div class="p-4">
      <div class="p-2">
        <p class="font-semibold text-2xl">
          {{simpleProduct.sku}}
        </p>

        <p>
          {{simpleProduct.title}}
        </p>
      </div>
    </div>

    <div *ngIf="quantityUpdated != null" class="p-4 bg-gray-200 rounded-lg">
      <div class="py-10 pl-2">
        Updated inventory to be <strong>{{quantityUpdated}}</strong> on the shelf.
      </div>
    </div>

    <div *ngIf="quantityUpdated == null" class="p-4 bg-gray-200 rounded-lg">
      <div class="p-2">
        <label for="qty" class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">INVENTORY</label>
        <div class="max-w-xs">
          <div class="mt-1 flex rounded-md shadow-sm">
            <div class="relative flex-grow focus-within:z-10">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="icon is-medium is-left">
                  <fa-icon [icon]="faInventory"></fa-icon>
                </span>
              </div>
              <input id="qty" class="form-input block w-full pl-10 rounded-none rounded-l-lg" type="number" placeholder="Quantity" autocomplete="off" [(ngModel)]="quantityEntry" />
            </div>
            <button class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 rounded-r-md text-white bg-blue-600 transition ease-in-out duration-150"
              [disabled]="!((quantityEntry != null) && (quantityEntry >= 0))" [ngClass]="{'opacity-50': !((quantityEntry != null) && (quantityEntry >= 0)), 'hover:bg-blue-700': ((quantityEntry != null) && (quantityEntry >= 0))}" (click)="setInventory(quantityEntry)">
              <span class="icon is-medium is-left">
                  <fa-icon [icon]="faChevronCircleRight"></fa-icon>
                </span>
              <span class="ml-2 leading-5 font-medium">Update</span>
            </button>
          </div>
        </div>

        <div class="max-w-xs">
          <div class="mt-1 flex rounded-md shadow-sm">
            <div class="relative flex-grow focus-within:z-10">
              <div class="block w-full pl-10"></div>
            </div>
            <button class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 rounded-md text-white bg-blue-600 transition ease-in-out duration-150"
                [disabled]="!inventoryDetails" [ngClass]="{'opacity-50': !inventoryDetails, 'hover:bg-blue-700': inventoryDetails}" (click)="setInventory(inventoryDetails.warehouseQuantityOnShelf)">
              <span class="icon is-medium is-left">
                  <fa-icon [icon]="faChevronCircleRight"></fa-icon>
                </span>
              <span class="ml-2 leading-5 font-medium">Confirm {{inventoryDetails?.warehouseQuantityOnShelf}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="p-4">

      <div class="p-2">
        <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">DEPARTMENT</p>
        <p class="font-narrow">{{simpleProduct.explicitDepartment?.name ? simpleProduct.explicitDepartment.name : "None"}}</p>
      </div>

      <div class="p-2">
        <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">WAREHOUSE(S)</p>
        <p *ngIf="simpleProduct.warehouses?.length == 0" class="font-narrow">None</p>
        <p *ngFor="let warehouse of simpleProduct.warehouses" class="font-narrow">{{warehouse.name}}</p>
      </div>

      <div class="p-2">
        <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">BIN(S)</p>
        <p *ngIf="simpleProduct.bins?.length == 0" class="font-narrow">None</p>
        <p *ngFor="let bin of simpleProduct.bins" class="font-narrow">{{bin.binId}} <span *ngIf="bin?.zone?.warehouse" class="font-light">- {{bin.zone.warehouse.name}}</span></p>

        <div class="mt-2">
          <button class="group relative w-40 flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out" (click)="showChangeBinDialog('')">
            Change Bin
          </button>
        </div>

      </div>

      <div class="p-2">
        <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">BRAND & SUPPLIER</p>
        <p class="font-narrow">{{simpleProduct.brand?.name}} {{simpleProduct.supplier?.name ? " by " + simpleProduct.supplier.name : ''}}</p>
      </div>

      <div class="p-2">
        <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">UPC</p>
        <p class="font-narrow">{{simpleProduct.upc ? simpleProduct.upc : 'No UPC'}}</p>
      </div>

      <div class="p-2">
        <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">PRICING</p>
        <p class="font-narrow"><span class="text-gray-500">Retail:</span> {{simpleProduct.price | currency: 'USD'}}</p>
        <!--<p class="font-narrow">Wholesale: {{simpleProduct.price | currency: 'USD'}}</p>-->
        <p class="font-narrow"><span class="text-gray-500">Cost:</span> {{simpleProduct.cost | currency: 'USD'}}</p>
      </div>

      <div class="p-2">
        <p class="text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">SHIPPING NEEDS</p>
        <p class="font-narrow">{{simpleProduct.shippingNeeds | shippingNeeds}}</p>
        <p class="font-narrow">{{simpleProduct.shippingRuleSet?.name}}</p>
        <p class="font-narrow">{{simpleProduct.weight ? simpleProduct.weight + "lbs" : 'Weight Not Set'}}</p>
      </div>

    </div>
  </div>
</div>

