<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Dashboard</h1>

  <div class="bg-white rounded-large p-4">
    <p class="text-xl">What's new in v1.22?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">The current version of this app releases the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds a weather lookup tool to retrieve the weather at a shipment's destination</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.21?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Internal compatibility changes to keep in line with server-side deprecations</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.20?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds support for economy shipping services</li>
      <li>Adds support for rate shopping shipping services with multiple sellers</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.19?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds the ability to ship multi-parcel shipments</li>
      <li>Adds the ability to pause the scale and override shipment weights</li>
      <li>Layout cleanup and tweaks</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.18?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds the ability to update a shipment's address</li>
      <li>Adds loading spinner to inventory page</li>
      <li>Layout cleanup and tweaks</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.17?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds extra information to shipping page</li>
      <li>Adds ability to clear assigned bins</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.16?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Supports rotation of AutoPrint documents</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.15?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Releases shipping functionality</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.14?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Restores inventory functionality</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.13?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds bin update functionality</li>
      <li>Previews shipping utility</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.12?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Releases AutoPrint functionality</li>
      <li>Releases installer for Windows</li>
      <li>Supports different menus on different target versions</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.11?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds multi-warehouse support</li>
      <li>Releases inventory functionality</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.10?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Updates system to communicate with production site from test site</li>
      <li>Adds Paycor Time Clock Kiosk</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.07/v1.08/v1.09?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds 'search by title' to receiving pages</li>
      <li>Adds product info dialog to catalog</li>
      <li>Adds links to Receiving from Making's stats dialog</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.05/v1.06?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Improvements related to search functionality</li>
      <li>Reliability improvements</li>
      <li>Cosmetic improvements to Making functionality</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.03/v1.04?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Under the hood improvements necessary for Making and Inventory functions</li>
      <li>Demo of Making functionality</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.02?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Improves login experience, error on login failure</li>
      <li>Prevents login from non-admin users</li>
      <li>Extends session duration from 1 hour to 8 hours</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.01?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Receiving in new inventory</li>
      <li>Printing plant labels</li>
      <li>Support for Socket Mobile barcode scanners</li>
      <li>Support for Brother QL Bluetooth printers</li>
    </ul>
  </div>
</div>

