<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Dashboard</h1>

  <div class="bg-white rounded-large p-4">
    <p class="text-xl">What's new in v1.07?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">The current version of this app releases the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Adds 'search by title' to receiving pages</li>
      <li>Adds product info dialog to catalog</li>
      <li>Adds links to Receiving from Making's stats dialog</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.05/v1.06?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Improvements related to search functionality</li>
      <li>Reliability improvements</li>
      <li>Cosmetic improvements to Making functionality</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.03/v1.04?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Under the hood improvements necessary for Making and Inventory functions</li>
      <li>Demo of Making functionality</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.02?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Improves login experience, error on login failure</li>
      <li>Prevents login from non-admin users</li>
      <li>Extends session duration from 1 hour to 8 hours</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's new in v1.01?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">A previous version of this app released the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Receiving in new inventory</li>
      <li>Printing plant labels</li>
      <li>Support for Socket Mobile barcode scanners</li>
      <li>Support for Brother QL Bluetooth printers</li>
    </ul>
    <div class="h-6"></div>
    <p class="text-xl">What's next?</p>
    <p class="text-xs leading-4 font-medium text-gray-500 uppercase">Future versions of the app will release the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Changing inventory (which is different from receiving) - please use MandyMae in the meantime</li>
      <li>Assigning bins to products</li>
      <li>Improvements to the search function in the catalog</li>
      <li>Release of a Windows version, supporting shipping functions</li>
    </ul>
  </div>
</div>

