<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Dashboard</h1>

  <div class="bg-white rounded-large p-4">
    <p class="text-xl">What's new?</p>
    <p>The current version of this app releases the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Receiving in new inventory</li>
      <li>Printing plant labels</li>
      <li>Support for Socket Mobile barcode scanners</li>
      <li>Support for Brother QL Bluetooth printers</li>
    </ul>
    <div class="h-4"></div>
    <p class="text-xl">What's next?</p>
    <p>Future versions of the app will release the following features:</p>
    <ul class="ml-10 list-disc">
      <li>Changing inventory (which is different from receiving) - please use MandyMae in the meantime</li>
      <li>Assigning bins to products</li>
      <li>Improvements to the search function in the catalog</li>
      <li>Release of a Windows version, supporting shipping functions</li>
    </ul>
  </div>
</div>

