<form [formGroup]='addressForm' (ngSubmit)='updateAddress()' class='text-left'>
  <div class='mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6'>
    <div class='sm:col-span-3'>
      <label for='firstName' class='input-label'>First name</label>
      <input type='text' id='firstName' formControlName='firstName' class='input-base mt-1' />
    </div>

    <div class='sm:col-span-3'>
      <label for='lastName' class='input-label'>Last name</label>
      <input type='text' id='lastName' formControlName='lastName' class='input-base mt-1' />
    </div>

    <div class='sm:col-span-6'>
      <label for='company' class='input-label'>Company</label>
      <input type='text' id='company' formControlName='company' class='input-base mt-1' />
    </div>

    <div class='sm:col-span-6'>
      <label for='line1' class='input-label'>Address Line 1</label>
      <input type='text' id='line1' formControlName='line1' class='input-base mt-1'
             [ngClass]="{'border-red-500 focus:border-red-500' : isFieldInvalid('line1')}" />
      <div *ngIf="isFieldInvalid('line1')" class='input-error'>Address is required.</div>
    </div>

    <div class='sm:col-span-6'>
      <label for='line2' class='input-label'>Address Line 2</label>
      <input type='text' id='line2' formControlName='line2' class='input-base mt-1' />
    </div>

    <div class='sm:col-span-2'>
      <label for='city' class='input-label'>City</label>
      <input type='text' id='city' formControlName='city' class='input-base mt-1'
             [ngClass]="{'border-red-500 focus:border-red-500' : isFieldInvalid('city')}" />
      <div *ngIf="isFieldInvalid('city')" class='input-error'>City is required.</div>
    </div>

    <div class='sm:col-span-2'>
      <label for='state' class='input-label'>State</label>
      <div class='mt-1'>
        <div class='relative'>
          <select id='state' formControlName='state' class='input-base cursor-pointer'
                  [ngClass]="{'border-red-500 focus:border-red-500' : isFieldInvalid('state')}">
            <option *ngFor='let state of states' [value]='state.code'
                    [selected]='state == state.code'>{{state.value}}</option>
          </select>
          <fa-icon class='pointer-events-none icon absolute is-medium inset-y-0 right-0 px-2 flex items-center'
                   [icon]='faAngleDown'></fa-icon>
        </div>
        <div *ngIf="isFieldInvalid('state')" class='input-error'>State is required.</div>
      </div>
    </div>

    <div class='sm:col-span-2'>
      <label for='postalCode' class='input-label'>Postal code</label>
      <input type='text' id='postalCode' formControlName='postalCode' class='input-base mt-1'
             [ngClass]="{'border-red-500 focus:border-red-500' : isFieldInvalid('postalCode')}" />
      <div *ngIf="isFieldInvalid('postalCode')" class='input-error'>Postal
        code{{postalCode.errors.required ? " is required." : " is invalid. Valid formats are 12345 or 12345-1234."}}</div>
    </div>
  </div>

  <div class='mt-10 pt-6 border-t border-gray-200 sm:flex sm:items-center sm:justify-between'>
    <button *ngIf='!submitting'
            class='w-full bg-blue-600 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:shadow-outline-blue sm:ml-6 sm:order-last sm:w-auto'>
      Update Address
    </button>
    <button *ngIf='submitting'
            class='w-full bg-gray-600 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm font-medium text-white sm:ml-6 sm:order-last sm:w-auto cursor-wait'
            disabled>
      Updating...
    </button>
    <p class='mt-4 text-center text-sm sm:mt-0 sm:text-left text-red-500'>
      {{errorMessage}}
    </p>
  </div>
</form>
