<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Purchase Orders</h1>
</div>
<div class="flex gap-4 flex-wrap my-4">
  <div class="filter-input">
    <label for="orderNumber" class="input-label">PO Number</label>
    <input id="orderNumber" class="input-base" placeholder="PO Number" autocomplete="off" autocapitalize="words"
           [(ngModel)]="orderNumber" (ngModelChange)="orderNumber = orderNumber.trim();"
           (keyup)="loadPurchaseOrders()" />
  </div>

  <div class="filter-input">
    <label for="status" class="input-label">Status</label>
    <div class="relative">
      <select id="status" class="input-base cursor-pointer pr-6" [(ngModel)]="status"
              (ngModelChange)="loadPurchaseOrders()" [ngClass]="{ 'text-gray-400': !status }">
        <option value="" class="text-gray-400">All Statuses</option>
        <option *ngFor="let statusOption of statusOptions" [ngValue]="statusOption" class="text-black">
          {{statusOption | purchaseOrderStatus}}
        </option>
      </select>
      <fa-icon class="pointer-events-none icon absolute is-medium inset-y-0 right-0 px-2 flex items-center"
               [icon]="faAngleDown"></fa-icon>
    </div>
  </div>

  <div class="filter-input">
    <label for="supplier" class="input-label">Supplier</label>
    <div class="relative">
      <select id="supplier" class="input-base cursor-pointer pr-6" [(ngModel)]="supplier"
              (ngModelChange)="loadPurchaseOrders()" [ngClass]="{ 'text-gray-400': !supplier }">
        <option value="" class="text-gray-400">All Suppliers</option>
        <option *ngFor="let supplierOption of supplierOptions" [ngValue]="supplierOption.slug" class="text-black">
          {{supplierOption.name}}
        </option>
      </select>
      <fa-icon class="pointer-events-none icon absolute is-medium inset-y-0 right-0 px-2 flex items-center"
               [icon]="faAngleDown"></fa-icon>
    </div>
  </div>
</div>

<div class="purchase-table-container shadow rounded-lg overflow-hidden border border-gray-200">
  <table class="align-middle purchase-table bg-jfgreen-100 w-full">
    <thead>
    <tr class="flex text-gray-700 rounded-t-lg overflow-hidden border-b border-gray-200">
      <th scope="col" class="text-left text-xs font-medium uppercase tracking-wider order-column">
        PO #
      </th>
      <th scope="col" class="text-left text-xs font-medium uppercase tracking-wider placed-column">
        Placed
      </th>
      <th scope="col" class="text-left text-xs font-medium uppercase tracking-wider status-column">
        Status
      </th>
      <th scope="col" class="text-left text-xs font-medium uppercase tracking-wider supplier-column">
        Supplier
      </th>
      <th scope="col" class="text-left text-xs font-medium uppercase tracking-wider warehouse-column">
        Warehouse
      </th>
      <th scope="col" class="relative actions rounded-tr-lg actions-column">
        <span class="sr-only">View</span>
      </th>
    </tr>
    </thead>

    <tbody>
    <ng-container *ngIf="loading">
      <tr *ngFor="let row of loadingRows; index as i" [ngClass]="i % 2 === 0 ? 'bg-white' : 'bg-gray-50'" class="flex">
        <td class="text-sm text-gray-500 order-column">
          <div class="animate-pulse rounded-lg bg-gray-200">&nbsp;</div>
        </td>

        <td class="text-sm text-gray-500 placed-column">
          <div class="animate-pulse rounded-lg bg-gray-200">&nbsp;</div>
        </td>

        <td class="whitespace-no-wrap text-sm text-gray-500 status-column">
          <div class="animate-pulse rounded-lg bg-gray-200">&nbsp;</div>
        </td>

        <td class="whitespace-no-wrap text-sm text-gray-500 supplier-column">
          <div class="animate-pulse rounded-lg bg-gray-200">&nbsp;</div>
        </td>

        <td class="whitespace-no-wrap text-sm text-gray-500 warehouse-column">
          <div class="animate-pulse rounded-lg bg-gray-200">&nbsp;</div>
        </td>

        <td class="whitespace-no-wrap text-right text-sm font-medium actions-column">
          <div class="animate-pulse rounded-lg bg-gray-200">&nbsp;</div>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="!loading">
      <tr *ngIf="!purchaseOrders || purchaseOrders.length === 0" class="bg-white text-center h-40">
        <td>
          <fa-icon [icon]="faExclamationCircle"></fa-icon>
          No results found.
        </td>
      </tr>
      <tr *ngFor="let purchaseOrder of purchaseOrders; index as i" [ngClass]="i % 2 === 0 ? 'bg-white' : 'bg-gray-50'"
          class="flex text-sm text-gray-500">
        <td class="order-column">{{purchaseOrder.orderNumber}}</td>

        <td class="placed-column">{{purchaseOrder.placedTime | date: 'shortDate'}}</td>

        <td class="status-column">{{purchaseOrder.status | purchaseOrderStatus}}</td>

        <td class="supplier-column">{{purchaseOrder.supplier.name}}</td>

        <td class="warehouse-column">{{purchaseOrder.warehouse.name | warehousePipe}}</td>

        <td class="text-right font-medium actions-column">
          <button type="button" class="hover:text-jfgreen-900 text-jfgreen-600"
                  (click)="viewPurchaseOrder(purchaseOrder)">
            View
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <app-pagination class="block bg-jfgreen-100" [count]="count" [pageSize]="pageable.pageSize" [page]="pageable.page"
                  (pageChanged)="setPage($event)"></app-pagination>
</div>

