<div *ngIf="carrier == 'FEDEX'" class="flex-none h-10 w-10 m-1 mr-3 text-center rounded-lg" style="background-color: lightgray">
  <span style="font-size: 28px; color: #4D148C"><fa-icon [icon]="faFedex"></fa-icon></span>
</div>
<div *ngIf="carrier == 'UPS'" class="flex-none h-10 w-10 m-1 mr-3 text-center rounded-lg" style="background-color: #FFB500">
  <span style="font-size: 28px; color: #351C15"><fa-icon [icon]="faUps"></fa-icon></span>
</div>
<div *ngIf="carrier == 'USPS'" class="flex-none h-10 w-10 m-1 mr-3 text-center rounded-lg" style="background-color: lightgray">
  <span style="font-size: 28px; color: #004B87"><fa-icon [icon]="faUsps"></fa-icon></span>
</div>
<div *ngIf="carrier == 'LASERSHIP'" class="flex-none h-10 w-10 m-1 mr-3 text-center rounded-lg" style="background-color: #bc3430">
  <span style="font-size: 28px; color: white"><fa-icon [icon]="faShippingFast"></fa-icon></span>
</div>
<div *ngIf="carrier == 'ROADIE'" class="flex-none h-10 w-10 m-1 mr-3 text-center rounded-lg" style="background-color: #dddddd">
  <span style="font-size: 28px">
  <svg
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    id="layer"
    x="0px"
    y="0px"
    viewBox="-153 -46 180 180"
    class="svg-inline--fa fa-w-14"
    width="180"
    height="180">
    <style
      type="text/css"
      id="style2">
	    .st0{fill:#6EDBD5;}
    </style>
    <path
      id="Fill-3"
      class="st0"
      d="m -63.350847,125.71864 c -43.900003,0 -79.500003,-35.599996 -79.500003,-79.499996 0,-43.8999999 35.6,-79.5 79.500003,-79.5 43.9,0 79.5,35.6000001 79.5,79.5 0,43.9 -35.6,79.499996 -79.5,79.499996"
      style="fill:#6edbd5" />
    <path
      d="m -48.650847,35.518644 c 0,5.6 -4.2,9.1 -11.4,9.1 h -13 c 0,0 -1.1,0 -1.1,-1.1 v -16.2 c 0,0 0,-1.2 1.1,-1.2 h 12.8 c 7.2,0 11.6,3.1 11.6,9.1 z m 20,-3.1 c 0,0 2.6,-23.0999999 -30.5,-23.0999999 h -35.3 c 0,0 -1.099999,0 -1.099999,1.1999999 v 34.1 h -47.200004 c 0,0.5 0,1 0,1.5 0,1.9 0.1,3.7 0.2,5.5 h 94.100003 c 11.3,0.1 19.8,-5.8 19.8,-19.2 z m -65.8,52.3 h 19 c 0,0 1.2,0 1.2,-1.2 v -21 c 0,0 0,-0.8 0.7,-1.1 h 8.6 c 0.1,0.1 0.3,0.3 0.7,0.9 l 14.2,21.4 c 0,0 0.6,1 1.8,1 h 23.5 l -18.5,-25.5 c 0,0 0,0 0,0 l -0.7,-1 c -2.8,-3.4 -6.8,-3.7 -7.9,-3.8 h -90.600003 c 0.2,2.4 0.6,4.8 1.1,7.1 h 45.800004 v 22.1 c 0,-0.1 0,1.1 1.099999,1.1"
      id="path5" />
    </svg>
  </span>
</div>
<div *ngIf="carrier == 'GLOBALTRANZ'" class="flex-none h-10 w-10 m-1 mr-3 text-center rounded-lg" style="background-color: rgb(16, 134, 204)">
  <span style="font-size: 28px; color: white"><fa-icon [icon]="faTruckMoving"></fa-icon></span>
</div>
